table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large 
	font-size: 2rem;
  }
  
  .title-small 
	font-size: .5rem;
  }
  #morecontent {
	background-color: yellow;
  }