table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}

tr {
	border: 1px solid #ffffff;
	text-align: center;
	background-color:#9FB6CD;
}

 th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}
.myButton {
	background-Color: steelblue;
	color: black;
	font-family: "consolas";
}
.myButton-regular {
border-width: 5px;
border-color: black;
}
.myButton-hover {
color: red;
background-color: goldenrod;
border-radius: 6px;
border-color: orange;
}
.myButton-hover:hover {
	background-color: orange;
	border-color: goldenrod;
	border-radius: 10px;
}
.myButton-other {
	background-color: transparent;
    border-color: silver;
	border-width: 8px;
	border-radius: 8px;
}
.myButton-other:hover {
	border-width: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
    padding-left: 1px;
	padding-right: 1px;
	filter: brightness(150%);
}


.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }

  #morecontent {
	background-color: yellow;
  }
  *{
    text-align:right;
    border: 2px solid black;
}

.container
    {
		float: left;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }

   .cube
    {
        background: #dc2e2e;
        width: 100px;
        height: 100px;
        position: relative;
        margin: 50px;
    }

   .cube::before
    {
        content: '';
        display: inline-block;
        background: #f15757;
        width: 100px;
        height: 20px;
        transform: skewX(-40deg);
        position: absolute;
        top: -20px;
        left: 8px;
    }

   .cube::after
    {
        content: '';
        display: inline-block;
        background: #9e1515;
        width: 16px;
        height: 100px;
        transform: skewY(-50deg);
        position: absolute;
        top: -10px;
        left: 100%;
    }